body{
    margin:2px;
    background-color: white;
    display: flex;
min-height: 100vh; 
	padding: 0 35px; 
}
.header{
    background-color:#87CEEB;
    color:#EB4B65;
    font-family:fantasy ;
    font-size: 70px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: auto;
    text-align: right;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 5px;
}
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Times New Roman', Times, serif; 
} 
.image{
    height: 130px;
    width:120px;
    float: left;
    margin-left: 10px;
}
.image:hover{
    animation-name:logoanime;
    animation-duration:2s;
    animation-iteration-count: 2;
}
@keyframes logoanime{
    50%{
        margin-top:0px;
        margin-left:680px;
    }
}
div{
    font-size: 20px;
    margin-right: auto;
    width: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    list-style-type: none;
}
div:hover{
    background-color: #E6E6FA;
    color:aliceblue;
}
.topicpages{
    float:left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    width:420px;
    font-size: 30px;
    display: inline-flex;
    text-align: center;
    border-radius: 20px;
    border:solid #E6E6FA 5px;
    background-color: white;
    color:blue;
}
#e3{
    clear:left;
}
.topic{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin-right: 20px;
}
/* Slider Section */
.slider-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.left-button, .right-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 80%; /* Adjust based on your layout */
    margin: 0 10px;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 50%; /* Each card takes up 50% of the slider width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
}
.card h2 {
    margin: 10px 0;
}

.card h2 a {
    text-decoration: none;
    color: #000;
}

.card span {
    padding: 10px;
}

.know-more {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #8B0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.footer{
    background-color:#87CEEB;
    color:black;
    font-family:Times New Roman;
    font-size: 30px;
    margin-top: 0px;
    padding-left: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
}
