body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.image {
    margin-top: 10px;
    width: 30%;
    max-width: 300px; /* Adjust logo size as needed */
}

.header {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
    color: red; /* Adjust link color */
}

ul li a:hover {
    color: red; /* Adjust hover color */
}

#quiz {
    margin: 20px auto;
    width: 60%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-question {
    margin-bottom: 10px;
}

.options label {
    display: inline-block;
    margin-right: 10px;
}

#results {
    display: none;
}

#try-again {
    display: none;
}
