body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    margin-top: 20px;
    width: 50%;
    max-width: 400px; /* Adjust max-width as needed */
}

.header {
    text-align: center;
    color: black;
    margin-top: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: black;
}

.quiz-container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.intro-text {
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
    text-align: left; /* Align intro text to left */
}

.quiz-question {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options label {
    display: inline-block; /* Display options inline */
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px; /* Adjust margin as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
    border-radius: 3px;
}

#submit {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    background-color: #45a049;
}

.results {
    text-align: center;
    margin-top: 20px;
}

.results h2 {
    color: black;
}

.results p {
    color: black;
}
